@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face [

  {
    font-family: cabinetGrotesk;
    src: url(./assets/fonts/CabinetGrotesk-Black.ttf);
  },
  {
    font-family: inter;
    src: url(./assets/fonts/inter.ttf);
  }
  ]
